<small>
  <% count = 0 %>
  <% 5.times do %>
    <% if review.rating > count %>
      <i class="fas fa-star"></i>
    <% else %>
      <i class="far fa-star"></i>
    <% end %>
    <% count += 1 %>
  <% end %>
</small>
<small><p></p></small>
<p><%= review.comment %></p>
